{% extends "base.html" %}
{% load url from future %}

{% block css %}
<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="Stylesheet">
{% endblock %}

{% block header %}
{{ block.super }}&nbsp;<small>Article list</small>
{% endblock %}

{% block content %}
{% if object_list %}
<div class="container">
  <UL>
    {% for article in object_list %}
    <li>
      <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
      <span style="font-size:0.8em">{{ article.publish|date:"d-F-Y" }}</span>
    </li>
    {% endfor %}
    <li>
      <a href="{% url 'articles-article-new' %}">New article</a>
    </li>
  </UL>
  {% endif %}
  <hr/>
  <p>
    <a href="{% url 'homepage' %}">Home</a>
  </p>
</div>
{% endblock %}
