.wysiwyg-color-green { color: green }
.wysiwyg-color-silver { color: silver }
.wysiwyg-color-maroon { color: maroon }
.wysiwyg-color-gray { color: gray }
.wysiwyg-color-red { color: red }
.wysiwyg-color-purple { color: purple }
.wysiwyg-color-olive { color: olive }
.wysiwyg-color-navy { color: navy }
.wysiwyg-color-blue { color: blue }

.wysiwyg-text-align-left { text-align: left }
.wysiwyg-text-align-center { text-align: center }
.wysiwyg-text-align-right { text-align: right }

.wysiwyg-float-left { float: left }
.wysiwyg-float-right { float: right }